
.vs/mms-demo-Trucks/DesignTimeBuild/.dtbcache.v2

.vs/mms-demo-Trucks/v16/.suo

.vs/tb-demo-SalesAreas/config/applicationhost.config

.vs/tb-demo-SalesAreas/DesignTimeBuild/.dtbcache.v2

.vs/tb-demo-SalesAreas/v16/.suo

mms-demo-Trucks/bin/Debug/netcoreapp3.1/appsettings.Development.json

mms-demo-Trucks/bin/Debug/netcoreapp3.1/appsettings.json

mms-demo-Trucks/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.JsonPatch.dll

mms-demo-Trucks/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll

mms-demo-Trucks/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll

mms-demo-Trucks/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.Design.dll

mms-demo-Trucks/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll

mms-demo-Trucks/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.Design.dll

mms-demo-Trucks/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll

mms-demo-Trucks/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll

mms-demo-Trucks/bin/Debug/netcoreapp3.1/mms-demo-Trucks.deps.json

mms-demo-Trucks/bin/Debug/netcoreapp3.1/mms-demo-Trucks.dll

mms-demo-Trucks/bin/Debug/netcoreapp3.1/mms-demo-Trucks.exe

mms-demo-Trucks/bin/Debug/netcoreapp3.1/mms-demo-Trucks.pdb

mms-demo-Trucks/bin/Debug/netcoreapp3.1/mms-demo-Trucks.runtimeconfig.dev.json

mms-demo-Trucks/bin/Debug/netcoreapp3.1/mms-demo-Trucks.runtimeconfig.json

mms-demo-Trucks/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll

mms-demo-Trucks/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll

mms-demo-Trucks/bin/Debug/netcoreapp3.1/Npgsql.dll

mms-demo-Trucks/bin/Debug/netcoreapp3.1/Npgsql.EntityFrameworkCore.PostgreSQL.dll

mms-demo-Trucks/bin/Debug/netcoreapp3.1/Remotion.Linq.dll

mms-demo-Trucks/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netstandard1.3/System.Data.SqlClient.dll

mms-demo-Trucks/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard1.3/System.Data.SqlClient.dll

mms-demo-Trucks/bin/Debug/netcoreapp3.1/runtimes/win7-x64/native/sni.dll

mms-demo-Trucks/bin/Debug/netcoreapp3.1/runtimes/win7-x86/native/sni.dll

mms-demo-Trucks/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Newtonsoft.dll

mms-demo-Trucks/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll

mms-demo-Trucks/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll

mms-demo-Trucks/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll

mms-demo-Trucks/bin/Debug/netcoreapp3.1/System.Interactive.Async.dll

mms-demo-Trucks/bin/Debug/netcoreapp3.1/tb-demo-SalesAreas.deps.json

mms-demo-Trucks/bin/Debug/netcoreapp3.1/tb-demo-SalesAreas.dll

mms-demo-Trucks/bin/Debug/netcoreapp3.1/tb-demo-SalesAreas.exe

mms-demo-Trucks/bin/Debug/netcoreapp3.1/tb-demo-SalesAreas.pdb

mms-demo-Trucks/bin/Debug/netcoreapp3.1/tb-demo-SalesAreas.runtimeconfig.dev.json

mms-demo-Trucks/bin/Debug/netcoreapp3.1/tb-demo-SalesAreas.runtimeconfig.json

mms-demo-Trucks/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs

mms-demo-Trucks/obj/Debug/netcoreapp3.1/apphost.exe

mms-demo-Trucks/obj/Debug/netcoreapp3.1/mms-demo-Trucks.AssemblyInfo.cs

mms-demo-Trucks/obj/Debug/netcoreapp3.1/mms-demo-Trucks.AssemblyInfoInputs.cache

mms-demo-Trucks/obj/Debug/netcoreapp3.1/mms-demo-Trucks.assets.cache

mms-demo-Trucks/obj/Debug/netcoreapp3.1/mms-demo-Trucks.csproj.AssemblyReference.cache

mms-demo-Trucks/obj/Debug/netcoreapp3.1/mms-demo-Trucks.csproj.CoreCompileInputs.cache

mms-demo-Trucks/obj/Debug/netcoreapp3.1/mms-demo-Trucks.csproj.FileListAbsolute.txt

mms-demo-Trucks/obj/Debug/netcoreapp3.1/mms-demo-Trucks.dll

mms-demo-Trucks/obj/Debug/netcoreapp3.1/mms-demo-Trucks.GeneratedMSBuildEditorConfig.editorconfig

mms-demo-Trucks/obj/Debug/netcoreapp3.1/mms-demo-Trucks.genruntimeconfig.cache

mms-demo-Trucks/obj/Debug/netcoreapp3.1/mms-demo-Trucks.MvcApplicationPartsAssemblyInfo.cache

mms-demo-Trucks/obj/Debug/netcoreapp3.1/mms-demo-Trucks.MvcApplicationPartsAssemblyInfo.cs

mms-demo-Trucks/obj/Debug/netcoreapp3.1/mms-demo-Trucks.pdb

mms-demo-Trucks/obj/Debug/netcoreapp3.1/mms-demo-Trucks.RazorTargetAssemblyInfo.cache

mms-demo-Trucks/obj/Debug/netcoreapp3.1/staticwebassets/mms-demo-Trucks.StaticWebAssets.Manifest.cache

mms-demo-Trucks/obj/Debug/netcoreapp3.1/staticwebassets/tb-demo-SalesAreas.StaticWebAssets.Manifest.cache

mms-demo-Trucks/obj/Debug/netcoreapp3.1/tb-demo-SalesAreas.AssemblyInfo.cs

mms-demo-Trucks/obj/Debug/netcoreapp3.1/tb-demo-SalesAreas.AssemblyInfoInputs.cache

mms-demo-Trucks/obj/Debug/netcoreapp3.1/tb-demo-SalesAreas.assets.cache

mms-demo-Trucks/obj/Debug/netcoreapp3.1/tb-demo-SalesAreas.csproj.AssemblyReference.cache

mms-demo-Trucks/obj/Debug/netcoreapp3.1/tb-demo-SalesAreas.csproj.CopyComplete

mms-demo-Trucks/obj/Debug/netcoreapp3.1/tb-demo-SalesAreas.csproj.CoreCompileInputs.cache

mms-demo-Trucks/obj/Debug/netcoreapp3.1/tb-demo-SalesAreas.csproj.FileListAbsolute.txt

mms-demo-Trucks/obj/Debug/netcoreapp3.1/tb-demo-SalesAreas.dll

mms-demo-Trucks/obj/Debug/netcoreapp3.1/tb-demo-SalesAreas.GeneratedMSBuildEditorConfig.editorconfig

mms-demo-Trucks/obj/Debug/netcoreapp3.1/tb-demo-SalesAreas.genruntimeconfig.cache

mms-demo-Trucks/obj/Debug/netcoreapp3.1/tb-demo-SalesAreas.MvcApplicationPartsAssemblyInfo.cache

mms-demo-Trucks/obj/Debug/netcoreapp3.1/tb-demo-SalesAreas.MvcApplicationPartsAssemblyInfo.cs

mms-demo-Trucks/obj/Debug/netcoreapp3.1/tb-demo-SalesAreas.pdb

mms-demo-Trucks/obj/Debug/netcoreapp3.1/tb-demo-SalesAreas.RazorTargetAssemblyInfo.cache

mms-demo-Trucks/obj/mms-demo-Trucks.csproj.nuget.dgspec.json

mms-demo-Trucks/obj/mms-demo-Trucks.csproj.nuget.g.props

mms-demo-Trucks/obj/mms-demo-Trucks.csproj.nuget.g.targets

mms-demo-Trucks/obj/project.assets.json

mms-demo-Trucks/obj/project.nuget.cache

mms-demo-Trucks/obj/tb-demo-SalesAreas.csproj.nuget.dgspec.json

mms-demo-Trucks/obj/tb-demo-SalesAreas.csproj.nuget.g.props

mms-demo-Trucks/obj/tb-demo-SalesAreas.csproj.nuget.g.targets
